@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, li {
  margin: 0;
}

button {
  background-color: #1993d3;
  color: #fff;
  border: none;
  border-radius: 1rem;
  width: 70px;
  height: 30px;
}

#grid-container {
  display: grid;
  grid: 1fr 5fr / 1fr 4fr;
  min-height: 100vh;
}

#grid-container > div {
  padding: 1rem;
}

#sidebar {
  grid-row: 1 / -1;
  background-color: #1993d3;
  color: white;
  display: grid;
  grid-template-rows: 1fr 4fr 5fr;
}

#header {
  display: grid;
  grid: 1fr 2fr / 3fr 2fr;
}

#user-info {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

#header-greeting {
  display: grid;
  grid: 1fr 2fr / 1fr 5fr;
}

#header-greeting .pic {
  grid-row: 1 / -1;
}

#header-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

div#main-content {
  background-color: #e2e8ef;
  display: grid;
  grid: repeat(2, 1fr) / 3fr 1fr;
  padding: 2rem 0.75rem;
}

#main-content h2 {
  margin-left: 1rem;
}

#projects {
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: 30px 1fr;  
}

#project-cards {
  display: grid;
  grid: repeat(3, 1fr) / repeat(2, 1fr);
}

#project-cards > div,
#announcements > div,
#trending > div {
  background-color: #fff;
  border-radius: 1rem;
  margin: 0.75rem;
  padding: 2rem 1.5rem;
}

#project-cards > div {
  border-left: 0.5rem solid #f0b429;
}

#announcements {
  display: grid;
  grid-template-rows: 30px 1fr;
}

#trending {
  display: grid;
  grid-template-rows: 30px 1fr;
  padding-top: 1rem;
}