html, body {
  height: 100%;
  margin: 0;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
}

#grid-container {
  display: grid;
  grid: 1fr 5fr / 1fr 4fr;
  min-height: 100vh;
}

#sidebar {
  grid-row: 1 / -1;
  background-color: blue;
  color: white;
  display: grid;
  grid-template-rows: 1fr 4fr 5fr;
}

#header {
  display: grid;
  grid: 1fr 2fr / 3fr 2fr;
}

#user-info {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

#header-greeting {
  display: grid;
  grid: 1fr 2fr / 1fr 5fr;
}

#header-greeting .pic {
  grid-row: 1 / -1;
}

#main-content {
  background-color: lightblue;
  display: grid;
  grid: repeat(2, 1fr) / 3fr 1fr;
}

#projects {
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: 50px 1fr;
}

#project-cards {
  display: grid;
  grid: repeat(3, 1fr) / repeat(2, 1fr);
}